body{
	background-color: limegreen

}h1{
		font-size: 30px;
		color: lime;
	}

	h2{

		color: hotpink;
	}

	.big{
		font-size: 60px;
	}

	.uppercase{
		text-transform: uppercase;
	}

	.big.uppercase{
		color: navy;
	}

	h1 span{
		color: violet;
	}